* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  background: #97a3a5;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main {
  display: flex;
  max-width: 1200px;
  margin: auto;
  justify-content: center;
}

.app {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 627px;
  height: 627px;
  margin-top: 75px;
  position: relative;
  transition: all 0.5s;
}
.app img {
  background: transparent;
}

.name-tile {
  transition: all 0.5s;
}

.name-tile__left {
  height: 602px;
  width: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.name-tile__top {
  display: flex;
  height: 30px;
  justify-content: space-around;
  width: 602px;
}

.name-tile_item {
  font-size: 24px;
  line-height: 24px;
  display: block;
  transition: all 1.5s;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 602px;
  height: 602px;
  border: #353e45 solid 1px;
  transition: all 1.5s;
  z-index: 30;
}

.row {
  display: flex;
}

.tile {
  width: 75px;
  height: 75px;
  text-align: center;
  font-size: 65px;
  line-height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  border: transparent solid 5px;
}

.tile-dark {
  background-color: #545c64;
}

img {
  height: 65px;
  display: block;
}

.control {
  position: absolute;
  margin-top: 100px;
  width: 602px;
  height: 602px;
  border: #353e45 solid 1px;
  text-align: center;
  transition: all 1s;
}
.control .wrapper-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.control .button {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.control h2 {
  font-size: 40px;
  font-weight: 900;
  color: #303539;
  margin: 150px 0 40px 0;
}
.control button {
  padding: 5px;
}

button {
  margin: 10px 0;
  display: block;
  width: 300px;
  font-size: 26px;
  border-radius: 10px;
  border: #353e45 solid 1px;
  background-color: #97a3a5;
  transition: all 0.5s;
}
button:hover {
  transform: scale(1.05);
  z-index: 20;
}
button:active {
  transform: scale(1.2);
  z-index: 20;
}

.console {
  margin: 100px 0 0 10px;
  border: #303539 solid 1px;
  width: 300px;
  height: 604px;
  background-color: #545c64;
  padding: 20px;
  color: #97A3A5;
  font-size: 26px;
  line-height: 30px;
  transition: all 0.5s;
}
.console .console-header {
  width: 100%;
  border: #303539 solid 1px;
  color: #353e45;
  text-align: center;
}
.console .back-to-menu {
  margin-bottom: 10px;
}
.console button {
  border-radius: 5px;
  width: 256px;
  height: 34px;
}
.console .flip {
  font-size: 20px;
}
.console .log {
  width: 100%;
  color: #97A3A5;
  border: #97A3A5 solid 1px;
  height: 430px;
  background-color: transparent;
}
.console .log .output {
  background-color: transparent;
  padding: 10px 20px;
  font-size: 14px;
  height: 390px;
  width: 100%;
  margin-top: 3px;
  transition: all 0.5s;
}

.wrapper-button-duo {
  display: flex;
  background-color: transparent;
  justify-content: space-between;
}
.wrapper-button-duo button {
  width: 49%;
  font-size: 16px;
  line-height: 30px;
  margin: 0;
}

.output {
  max-height: 400px;
  margin-top: 10px;
  overflow: auto;
}
.output .span {
  background-color: transparent;
  color: white;
}
.output .span-orange {
  background-color: transparent;
  color: orange;
}
.output .span-red {
  background-color: transparent;
  color: red;
}

.js-inactive {
  opacity: 0;
  visibility: hidden;
}

.js-none {
  display: none;
}

.js-active {
  border-radius: 50%;
}
.js-flip {
  transform: rotate(180deg);
}

/*# sourceMappingURL=main.css.map */
